AddHandler application/x-httpd-php52 php

RewriteEngine On
RewriteRule ^sitemap.xml$ sitemap.php [L]
#RewriteCond %{QUERY_STRING} (.+)
#RewriteRule (.*) /#/blog/%1? [R=301,L,NE,QSD]
RewriteCond %{REQUEST_URI} ^/blog/(.+) [NC]
RewriteRule (.*) /#/blog/%1? [R,L,NE]